body {
  background: url(../img/bg.png) no-repeat center center fixed;
  background-size: cover;
  height: 3800px;
}

.to_top{
    position: fixed;
    display: none;
    bottom: 10px;
    right: 15px;
    z-index: 999;
    font-size: 1.8em;
    padding: 4px 12px 1px 12px;
    text-align: center;
    background-color: #000;
    color: #cfe2f1;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 0.5;
    border: 1px solid #333;
}
.to_top.active{
    display: block;
}
.to_top:hover{
    background-color: #000;
    color: #fff;
    opacity: 1;
    border-color: #fff;
}
/* ---------------------preloader------------------- */
.preloader{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 1031;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.preloader .circls{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
}
.preloader .circls>span{
    position: absolute;
    top:25%;
    left:25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: white;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
}
.preloader .circle1{
    -webkit-animation-name: load;
    animation-name: load;
}
.preloader .circle2{
    -webkit-animation-name: load2;
    animation-name: load2;
}
@keyframes load{
    0% {
        -webkit-transform:rotateZ(0deg) translate(25px,0);
        transform:rotateZ(0deg) translate(25px,0)
    }
    33% {
        -webkit-transform:rotateZ(120deg) translate(25px,25px);
        transform:rotateZ(120deg) translate(25px,25px)
    }
    67% {
        -webkit-transform:rotateZ(240deg) translate(0,25px);
        transform:rotateZ(240deg) translate(0,25px)
    }
    100%{
        -webkit-transform:rotateZ(360deg) translate(25px,0);
        transform:rotateZ(360deg) translate(25px,0)
    }
}
@-webkit-keyframes load{
    0% {
        -webkit-transform:rotateZ(0deg) translate(25px,0);
        transform:rotateZ(0deg) translate(25px,0)
    }
    33% {
        -webkit-transform:rotateZ(120deg) translate(25px,25px);
        transform:rotateZ(120deg) translate(25px,25px)
    }
    67% {
        -webkit-transform:rotateZ(240deg) translate(0,25px);
        transform:rotateZ(240deg) translate(0,25px)
    }
    100%{
        -webkit-transform:rotateZ(360deg) translate(25px,0);
        transform:rotateZ(360deg) translate(25px,0)
    }
}

@keyframes load2{
    0% {
        -webkit-transform:rotateZ(0deg) translate(25px,25px);
        transform:rotateZ(0deg) translate(25px,25px)
    }
    33% {
        -webkit-transform:rotateZ(120deg) translate(0,25px);
        transform:rotateZ(120deg) translate(0,25px)
    }
    67% {
        -webkit-transform:rotateZ(240deg) translate(25px,0);
        transform:rotateZ(240deg) translate(25px,0)
    }
    100%{
        -webkit-transform:rotateZ(360deg) translate(25px,25px);
        transform:rotateZ(360deg) translate(25px,25px)
    }
}
@-webkit-keyframes load2{
    0% {
        -webkit-transform:rotateZ(0deg) translate(25px,25px);
        transform:rotateZ(0deg) translate(25px,25px)
    }
    33% {
        -webkit-transform:rotateZ(120deg) translate(0,25px);
        transform:rotateZ(120deg) translate(0,25px)
    }
    67% {
        -webkit-transform:rotateZ(240deg) translate(25px,0);
        transform:rotateZ(240deg) translate(25px,0)
    }
    100%{
        -webkit-transform:rotateZ(360deg) translate(25px,25px);
        transform:rotateZ(360deg) translate(25px,25px)
    }
}

/* ---------------------nav bar------------------- */
#navbar {
  font-family: 'Marck Script', cursive;
  font-size: 18px;
  padding-top: 5%;
  width: 100vw;
  text-align: center;
  top:-28px;

}

#navbar > ul {
  position: relative;
  top: 15px;
  left: 0;
}

#navbar .navbar-brand,
    #navbar li > a {
  color: white;
}

#navbar #ul {
  display: inline;
}

#navbar li {
  display: inline-block;
  padding-right: 5%;
}

#navbar li .active {
  opacity: 0.5;
}

#navbar li > a {
  text-decoration: none;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}


.classnav .icon {
  display: none;
  z-index: 999;
}

/* ---------------------------nav bar ends--------------------- */

/* ========================================================== */
/* ---------------------------more-info page ---------------------- */

#moreInfo {
  top:40px;
}

#topSec {
  border: 3px solid white;
  padding:10px;
  border-right: none;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#pictures {
  text-align: center;
}

#pictures #img1 {
  object-fit: cover;
  width:500px;
  height: 600px;
  border-radius: 20px;
  border: 1px solid white;
}

#topSec article {
 background-color: #080808;;
 opacity: 0.3;
}

article  span {
  font-size: 80px;
  font-family: 'Marck Script', cursive;
  padding-bottom: -20px;
}

article > h1 {
  line-height: 1.5;
  letter-spacing: 1px;
  /* text-indent: 1.3em; */
  padding:35px;


}
#topSec article > h1 {
    color:white;
}

article > p {
  padding: 25px;
}

#middleSec {
  margin-top:10%;
  border: 3px solid white;
  padding:30px;
  border-left: none;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


#middleSec #img8 {
  object-fit: cover;
  width:500px;
  height: 600px;
  border-radius: 20px;
  border: 1px solid white;
}

#middleSec article {
  /* background-color: rgba(138, 160, 165, 0.6); */
  margin-top: 20px;
  border-radius: 5px;
}

#buttomSec {
  border: 3px solid white;
  padding:40px;
  border-right: none;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10%;

}

#buttomSec #img7 {
  object-fit: cover;
  width:900px;
  height: 500px;
  border-radius: 20px;
  border: 1px solid white;
}

#buttomSec article {
  /* background-color: rgba(158, 135, 39, 0.65); */
  border-radius: 5px;
}
/* -------------------------end more-info page---------------------------- */
/* =============================================================================== */


/* ---------------middle section---------------- */

.container {
  height: 80%;
  /* position:relative; */
  color:rgba(255, 255, 255, 0.76);
}
/* .................title................ */
#title {
  width:100%;
  padding-left:0;
  padding-right:0;
}

.jumbotron {
  width:100%;
  margin-top:10%;
  background-color: rgba(8, 17, 25, 0.5);
  color:rgba(255, 255, 255, 0.76);
}

.jumbotron .btn-primary.btn-lg {
  background-color: #062a33;
  margin-top:10%;
  border: none;
}

/*
 .....................about .................. */

#about {
  width:100%;
  background-color: rgba(8, 17, 25, 0.5);
  padding:6% 3%;
  line-height: 190%;
  color:rgba(255, 255, 255, 0.76);
}

#about > hr {
  width:15%;
  float: left;
  margin-top: -12px;
}

#about h2 {
  font-size:25px;
  padding-bottom: 3%;
}

#about button {
  background-color: #07323ccf;
  border:none;
  margin-top: 3%;
}

#about button > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.76);
}

#about #moreinfo {
  top:1vw;
}

#about #moreinfo > a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.76);
}
/* .......................skills....................... */

#skills > h2 {
  font-size: 30px;
  margin-top: 5%;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
  margin-top:5%;
}

#skills {
  margin-top:2%;
  display:block;
  width:100%;
}

.skills_progress {
  margin-top:5%;
}

.skills_progress > hr {
  border: 1px solid #07323ccf;
  color: rgba(8, 17, 25, 0.5);
  width:10%;
  margin:8px  0;
}

.skills_progress .fa {
  font-size: 40px;
  padding-left: 20px;
  color: rgba(21, 123, 146, 0.32);
}

.skills_progress>h3 {
  font-size: 20px;
}

.skills_progress > p {
  font-size: 14px;
}

.skills_progress>h3,
    .skills_progress .progress  {
  display: inline-block;
}
.progress {
  width:60%;
  margin-left: 60px;
}

.progress-bar-info {
  background-color: rgb(6, 42, 51);
  color:rgba(255, 255, 255, 0.76);

}

/* .................................experience.......................... */

#experience {
  width:100%;
  margin-top: 8%;
}

#experience > h2 {
  font-size: 30px;
}

#experience .row {
  width:100%;
  margin-left: -15px;
}

#experience .box {
  height: 300px;
  width: 300px;
  left:15px;
  margin-top: 5%;
  background-color: rgba(8, 17, 25, 0.5);
  color: rgba(255, 255, 255, 0.76);
  border-right: 1px solid white;
  border-bottom: 1px solid white;

}

#experience h6 {
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 5%;
}

#experience h3 {
  font-size: 18px;
  margin-bottom: 5%;
}

#experience p {
  font-size: 13px;
}

#experience .fl {
  font-size: 28px;
}

.sfl {
  font-size: 34px;
}

/* ......................my works...................... */

#myworks {
  width:100%;
  font-family: inherit;
  margin-top: 5%;
}

#myworks > h2 {
  font-size:30px;
}

/* #myworks > a {
  text-decoration: none;

} */
/* ..........................contact.......................... */

#contact {
  width:100%;
  font-family: inherit;
  margin-top: 5%;
}
#contact > h2 {
    font-size:30px;
}

#contact button {
  background-color: #07323ccf;
  border:none;
  margin-top: 6%;
  width:100%;
}

#contact button:hover {
  transition: 0.5s ease;
}

#contact button > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.76);
}

#contact button > a:hover {
  color:white;
}

#contact input ,
   #contact textarea {
     border-radius: 2px;
     display: block;
     margin-top: 3%;
     background-color: rgba(8, 17, 25, 0.5);
     padding-left: 10px;
     border:none;
     border-bottom: 1px solid white;
     height: 53px;
     width:100%;
}

#contact textarea {
  height:130px;
}

.left {
  margin-top: 6%;
  margin-right: 0;
}

.right {
  margin-top: 9%;
}

.right > h3 {
  font-size:20px;
  font-style: italic;
  margin-top: 3%;
}

.right a {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.76);
}

.right a:hover {
  color:white;
}

.right p {
  font-size: 15px;
  margin-top: 2%;
}
.right .fa {
  margin-top: 3%;
  margin-bottom: 3%;
}

/* ---------------middle section ends---------------- */

/* ....................footer......................... */

#footer {
  margin-top: 12%;
  margin-left: 2%;

}

#footer .fa {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.76);
  margin-right: 20px;

}

#footer p {
  margin-top: 10px;
  color:#044958;

}

.links .disabled {
  pointer-events: none;
  cursor: default;
}

#quotes p {
  color:white;
  font-size: 15px;
}



/* ......................footer ends...................... */

/* ............mediaqueries------------------------ */

 @media (max-width:600px) {
  .classnav ul>li>a {
    display: none;
  }
  .classnav .icon {
    right: 2vw;
    top: 8vh;
    display: block;
    color:white;
    position:absolute;
    z-index: 999;
 }
  .classnav.responsive {
    position: relative;

  }
  .classnav.responsive .icon {
    position: absolute;

  }
   #navbar.classnav.responsive ul>li, .classnav.responsive ul>li>a  {
    float: none;
    display: block;
    text-align: left;
    padding-left: 3%;
  }
 }
 @media (max-width: 575px) {
   #title, #about_wrap {
     padding-left: 3%;
     padding-right: 3%;
   }
 }
 @media (max-width:770px) {
   body {
     height:100%;
   }

    #quotes {
      margin-top: 8%;
    }
 }

@media (max-width: 557px) {
  #about #moreinfo {

  }
}
