body {
  background: url(http://www.dallaschess.com/images/chessBackground.png) no-repeat center center fixed;
  background-size: cover;
  height: 5000px;
}
/* ---------------------nav bar------------------- */
#navbar {
  font-family: 'Marck Script', cursive;
  font-size: 18px;
  padding-top: 5%;
  width: 100%;
  text-align: center;

}

#navbar > ul {
  position: relative;
  top: 15px;
  left: 0;
}

#navbar .navbar-brand,
    #navbar li > a {
  color: white;
}

#navbar #ul {
  display: inline;
}

#navbar li {
  display: inline-block;
  padding-right: 5%;
}

#navbar li .active {
  opacity: 0.5;
}

#navbar li > a {
  text-decoration: none;
}
/* ul li:hover ul {
  display: block;
} */
/* ul li ul {
  position: absolute;
  width: 200px;
  display: none;
  padding-left: 0px;
} */
/* ul li ul li {
  padding:10px;
  display: block;
  background-color: black;
  width:130px;
} */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}


.classnav .icon {
  display: none;
}

/* ---------------------------nav bar ends--------------------- */

/* ---------------middle section---------------- */

.container {
  height: 80%;
  /* position:relative; */
  color:rgba(255, 255, 255, 0.76);
}
/* .................title................ */
#title {
  width:100%;
  padding-left:0;
  padding-right:0;
}

.jumbotron {
  width:100%;
  margin-top:10%;
  background-color: rgba(8, 17, 25, 0.5);
  color:rgba(255, 255, 255, 0.76);
}

.jumbotron .btn-primary.btn-lg {
  background-color: #062a33;
  margin-top:10%;
  border: none;
}

/*
 .....................about .................. */

#about {
  width:100%;
  background-color: rgba(8, 17, 25, 0.5);
  padding:6% 3%;
  line-height: 190%;
  color:rgba(255, 255, 255, 0.76);
}

#about > hr {
  width:15%;
  float: left;
  margin-top: -12px;
}

#about h2 {
  font-size:25px;
  padding-bottom: 3%;
}

#about button {
  background-color: #07323ccf;
  border:none;
  margin-top: 3%;
}

#about button > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.76);
}

/* .......................skills....................... */

#skills > h2 {
  font-size: 30px;
  margin-top: 5%;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
  margin-top:5%;
}

#skills {
  margin-top:2%;
  display:block;
  width:100%;
}

.skills_progress {
  margin-top:5%;
}

.skills_progress .fa {
  font-size: 40px;
  padding-left: 20px;
}

.skills_progress>h3 {
  font-size: 20px;
}

.skills_progress>h3,
    .skills_progress .progress  {
  display: inline-block;
}
.progress {
  width:60%;
  margin-left: 60px;
}

.progress-bar-info {
  background-color: rgb(6, 42, 51);
  color:rgba(255, 255, 255, 0.76);

}

/* .................................experience.......................... */

#experience {
  width:100%;
  margin-top: 8%;
}

#experience > h2 {
  font-size: 30px;
}

#experience .row {
  width:100%;
  margin-left: -15px;
}

#experience .box {
  height: 300px;
  width: 300px;
  left:15px;
  margin-top: 5%;
  background-color: rgba(8, 17, 25, 0.5);
  color: rgba(255, 255, 255, 0.76);
  border-right: 1px solid white;
  border-bottom: 1px solid white;

}

#experience h6 {
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 5%;
}

#experience h3 {
  font-size: 18px;
  margin-bottom: 5%;
}

#experience p {
  font-size: 13px;
}

#experience .fl {
  font-size: 28px;
}

.sfl {
  font-size: 34px;
}

/* ......................my works...................... */

#myworks {
  width:100%;
  font-family: inherit;
  margin-top: 5%;
}

#myworks > h2 {
  font-size:30px;
}

/* ..........................contact.......................... */

#contact {
  width:100%;
  font-family: inherit;
  margin-top: 5%;
}
#contact > h2 {
    font-size:30px;
}

#contact button {
  background-color: #07323ccf;
  border:none;
  margin-top: 3%;
  width:100%;
}

#contact button > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.76);
}

#contact input ,
   #contact textarea {
     border-radius: 2px;
     display: block;
     margin-top: 3%;
     background-color: rgba(8, 17, 25, 0.5);
     padding-left: 10px;
     border:none;
     border-bottom: 1px solid white;
     height: 53px;
     width:100%;
}

#contact textarea {
  height:130px;
}

.left {
  margin-top: 6%;
  margin-right: 0;
}

.right {



  margin-top: 9%;

}

.right > h3 {
  font-size:20px;
  font-style: italic;
  margin-top: 3%;
}

.right p {
  font-size: 15px;
}
.right .fa {
  margin-top: 3%;
}

/* ---------------middle section ends---------------- */


/* ............mediaqueries------------------------ */

@media (max-width:600px) {
  .classnav ul>li>a {
    display: none;
  }
  .classnav a.icon {
    float: right;
    display: block;
    color:white;
}
@media screen and (max-width: 600px) {
  .classnav.responsive {
    position: relative;
  }
  .classnav.responsive .icon {
    position: fixed;
    right: 5;
    top: 5;
  }
  #navbar.classnav.responsive ul>li, .classnav.responsive ul>li>a  {
    float: none;
    display: block;
    text-align: left;
    padding-left: 3%;
  }
}
 @media (max-width: 575px) {
   #title, #about_wrap {
     padding-left: 3%;
     padding-right: 3%;
   }
 }
